@inject SignInManager<ApplicationUser> signInManager;


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BankingPayments</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BankingPayments.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Account" asp-action="Index">Century Bank</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" asp-controller="Account" asp-action="Index">
                                Home
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                         @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Admin" asp-action="ApprovePayments">Approve Payments</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Admin" asp-action="AllCategory">Manage Category</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Admin" asp-action="Registration">New User Registration</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Admin" asp-action="GetAllRoles">All Roles</a>
                            </li>
                        }

                        @if (signInManager.IsSignedIn(User) && User.IsInRole("User"))
                        {
                            <li class="nav-item">
                                <a class=" nav-link active" asp-controller="Customer" asp-action="AllBillers">Manage Billers</a>
                                </li>
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Customer" asp-action="AllManagePayment">Manage Payments</a>
                                </li>
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Customer" asp-action="ViewPayment">View Payment History</a>
                                </li>
                       
                        }
                    </ul>
                    <ul class="navbar-nav me-sm-2">

                        @if (signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <form class="d-flex" method="post" asp-action="Logout" asp-controller="Account">
                                    <button type="submit" class="btn btn-secondary my-2 my-sm-0" style="width:auto">
                                        Logout @User.Identity.Name
                                    </button>
                                </form>
                            </li>

                        }
                        else
                        {
                            <li class="nav-item ">
                                <a class="nav-link active" style="width:auto" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - BankingPayments - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>
     <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
