@model BankingPayments.Models.Manage_Payments.AddPaymentViewModel
@{
    int id = ViewBag.AccountNo;
}
<h1>Add Payment</h1>
<form method="post">

    <div asp-validation-summary="All" class="text-danger"></div>
   
   @* <div class="form-group">
        <label hidden asp-for="AccountNo"></label><br />
        <input hidden asp-for="AccountNo = @id" class="form-control" />
    </div>*@
    <div class="form-group">

        @Html.LabelFor(model=>model.BillerId,"BillerName",htmlAttributes:new{@class="control-label-col-md-2"})

        @(Html.DropDownListFor(x => x.BillerId, ViewBag.BillerId as SelectList, "--Select Biller--", new { @class = "form-control" }))
        <br />
        @Html.ValidationMessageFor(x => x.BillerId)
    </div>
   
    <div class="form-group">
        <label asp-for="Amount "></label><br />
        <input asp-for="Amount" class="form-control" />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PaymentDueDate"></label><br />
        <input type="date" asp-for="PaymentDueDate" class="form-control" />
        <span asp-validation-for="PaymentDueDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RecurringInstr">Repeat Payment Monthly?</label>

        <input type="radio" asp-for="RecurringInstr" class="form-check-input " value=1 />Yes
        <input type="radio" asp-for="RecurringInstr" class="form-check-input " value=2 />No

        <span asp-validation-for="RecurringInstr" class="text-danger"></span>
    </div>    
   
    <br />
    <button type="submit" class="btn btn-primary">Add</button>
    <a class="btn btn-primary" asp-action="AllManagePayment" asp-controller="Customer">
        Cancel
    </a>
</form>

